use flake

export NETWORK="rinkeby"
export ALCHEMY_API_KEY=""
export ACCESS_TOKEN=""
export SUBGRAPH=""
export FACTORY_CONTRACT="0x999Ed6BC3391F637F8E498fbB696BbC4BDE5De8d"
export FACTORY_CONTRACT_START_BLOCK="10356119"
